*, *::before, *::after { box-sizing: border-box; padding: 0; margin: 0}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    height: 95vh;
    display: grid;
    place-items: center;
}

.carousel {
    max-width: 1440px;
    width: 100%;
    max-width: 500px;
    height: 500px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.carousel:hover .btn {
    opacity: 1;
}

.slide {
    width: 100%;
    max-width: 500px;
    height: 500px;
    position: absolute;
    transition: all 0.3s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    z-index: 10;
    outline: none;
    border: none;
    width: 5rem;
    color: #fff;
    background: none;
    position: absolute;
    font-size: 3rem;
    cursor: pointer;
    border-radius: 10px;
    opacity: 0;
    transition: 0.2s;
}

#prev {
    left: 4px;
    top: 230px;
}
#next {
    right: 4px;
    top: 230px;
}

@media (max-width: 375px) {
    .carousel {
        width: 90%;
    }
}